In [2]:
import dropbox
import pandas as pd
import numpy as np
import datetime
import time
import pytz

In [3]:
client = dropbox.client.DropboxClient('IS-424yqxy8AAAAAAAAVLOUS9urGIH4kCxP_5Q6hxdz-WrhGMYKa-9MjMZrpwMYZ')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning: You are using a deprecated client. Please use the new v2 client located at dropbox.Dropbox.
  if __name__ == '__main__':

In [4]:
metadata = client.metadata('/')

In [20]:
for i in metadata:
    print(i)

read_only
hash
thumb_exists
bytes
path
is_dir
icon
root
contents
size

In [45]:
for i in metadata['contents']:
    print (i['modified'])

Fri, 05 May 2017 23:22:03 +0000
Fri, 05 May 2017 23:22:06 +0000
Fri, 05 May 2017 23:22:12 +0000
Fri, 05 May 2017 23:22:17 +0000
Fri, 05 May 2017 23:22:23 +0000
Fri, 05 May 2017 23:22:26 +0000
Fri, 05 May 2017 23:22:34 +0000
Fri, 05 May 2017 23:22:39 +0000
Fri, 05 May 2017 23:22:43 +0000
Fri, 05 May 2017 23:22:49 +0000
Fri, 05 May 2017 23:22:54 +0000
Fri, 05 May 2017 23:23:00 +0000
Fri, 05 May 2017 23:23:06 +0000
Fri, 05 May 2017 23:23:12 +0000
Fri, 05 May 2017 23:23:18 +0000
Fri, 05 May 2017 23:23:22 +0000
Fri, 05 May 2017 23:23:30 +0000
Fri, 05 May 2017 23:23:40 +0000
Fri, 05 May 2017 23:23:50 +0000
Fri, 05 May 2017 23:23:58 +0000
Fri, 05 May 2017 23:24:05 +0000
Fri, 05 May 2017 23:24:17 +0000
Fri, 05 May 2017 23:24:21 +0000
Fri, 05 May 2017 23:24:25 +0000
Fri, 05 May 2017 23:24:32 +0000
Fri, 05 May 2017 23:24:40 +0000
Fri, 05 May 2017 23:24:45 +0000
Fri, 05 May 2017 23:24:47 +0000
Fri, 05 May 2017 23:24:50 +0000
Fri, 05 May 2017 23:24:53 +0000
Fri, 05 May 2017 23:24:56 +0000
Fri, 05 May 2017 23:24:59 +0000
Fri, 05 May 2017 23:25:02 +0000
Fri, 05 May 2017 23:25:05 +0000
Fri, 05 May 2017 23:25:10 +0000
Fri, 05 May 2017 23:25:39 +0000
Fri, 05 May 2017 23:25:44 +0000
Fri, 05 May 2017 23:25:49 +0000
Fri, 05 May 2017 23:25:53 +0000
Fri, 05 May 2017 23:25:57 +0000
Fri, 05 May 2017 23:26:01 +0000
Fri, 05 May 2017 23:26:05 +0000
Fri, 05 May 2017 23:26:09 +0000
Fri, 05 May 2017 23:26:13 +0000
Fri, 05 May 2017 23:26:17 +0000
Fri, 05 May 2017 23:26:21 +0000
Fri, 05 May 2017 23:26:26 +0000
Fri, 05 May 2017 23:26:33 +0000
Fri, 05 May 2017 23:26:37 +0000
Fri, 05 May 2017 23:26:39 +0000
Fri, 05 May 2017 23:26:44 +0000
Fri, 05 May 2017 23:26:48 +0000
Fri, 05 May 2017 23:26:52 +0000
Fri, 05 May 2017 23:26:56 +0000
Fri, 05 May 2017 23:27:00 +0000
Fri, 05 May 2017 23:27:03 +0000
Fri, 05 May 2017 23:27:07 +0000
Fri, 05 May 2017 23:27:12 +0000
Fri, 05 May 2017 23:27:15 +0000
Fri, 05 May 2017 23:27:19 +0000
Fri, 05 May 2017 23:27:21 +0000
Fri, 05 May 2017 23:27:25 +0000
Fri, 05 May 2017 23:27:31 +0000
Fri, 05 May 2017 23:27:35 +0000
Fri, 05 May 2017 23:27:39 +0000
Fri, 05 May 2017 23:27:42 +0000
Fri, 05 May 2017 23:27:46 +0000
Fri, 05 May 2017 23:27:49 +0000
Fri, 05 May 2017 23:27:53 +0000
Fri, 05 May 2017 23:27:55 +0000
Fri, 05 May 2017 23:27:58 +0000
Fri, 05 May 2017 23:28:00 +0000
Fri, 05 May 2017 23:28:03 +0000
Fri, 05 May 2017 23:28:05 +0000
Fri, 05 May 2017 23:28:09 +0000
Fri, 05 May 2017 23:28:14 +0000
Fri, 05 May 2017 23:28:18 +0000
Fri, 05 May 2017 23:28:22 +0000
Fri, 05 May 2017 23:28:26 +0000
Fri, 05 May 2017 23:28:32 +0000
Fri, 05 May 2017 23:28:36 +0000
Fri, 05 May 2017 23:28:42 +0000
Fri, 05 May 2017 23:28:44 +0000
Fri, 05 May 2017 23:28:47 +0000
Fri, 05 May 2017 23:28:51 +0000
Fri, 05 May 2017 23:28:56 +0000
Fri, 05 May 2017 23:29:00 +0000
Fri, 05 May 2017 23:29:04 +0000
Fri, 05 May 2017 23:29:08 +0000
Fri, 05 May 2017 23:29:12 +0000
Fri, 05 May 2017 23:29:15 +0000
Fri, 05 May 2017 23:29:18 +0000
Fri, 05 May 2017 23:29:23 +0000
Fri, 05 May 2017 23:29:28 +0000
Fri, 05 May 2017 23:29:31 +0000
Fri, 05 May 2017 23:29:35 +0000
Fri, 05 May 2017 23:29:38 +0000
Fri, 05 May 2017 23:29:43 +0000
Fri, 05 May 2017 23:29:47 +0000

In [27]:
metadata = client.metadata('/')
files = [content['path'].split('/')[-1] for content in metadata['contents'] if content['is_dir'] == False]
files[:6]

['ABA DUENAS_0000.JPG',
 'ABA DUENAS_0001.JPG',
 'ABA DUENAS_0005.JPG',
 'ABA DUENAS_0009.JPG',
 'ADRIANA GRAELL WK27_0001.JPG',
 'ADRIANA GRAELL WK27_0013.JPG']

In [31]:
client.share('/ABA DUENAS_0000.JPG', short_url=False)['url'][:-1] + '1'

'https://www.dropbox.com/s/15bgbss3xzkvjlq/ABA%20DUENAS_0000.JPG?dl=1'

In [10]:
def listpic():
    client = dropbox.client.DropboxClient('IS-424yqxy8AAAAAAAAVLOUS9urGIH4kCxP_5Q6hxdz-WrhGMYKa-9MjMZrpwMYZ')
    metadata = client.metadata('/')
    files = [content['path'].split('/')[-1] for content in metadata['contents'] if content['is_dir'] == False]
    
            
    dates = [content['modified'] for content in metadata['contents'] if content['is_dir'] == False]
    files = pd.DataFrame({'file_name' : files})
    #TIME IS ON UTC TIMEZONE
    files['date_mod_d'] = [time.strptime(i, "%a, %d %b %Y %H:%M:%S %z") for i in dates]
    files['date_mod'] = [datetime.datetime(*files.date_mod_d.loc[i][:6]).date() for i in files.index]
    files['hour_mod'] = [datetime.datetime(*files.date_mod_d.loc[i][:6]).time() for i in files.index]
    
    
    tday = datetime.datetime.today().date()
    files = files[files.date_mod == tday]
    files['f_name'] = [i[0:i.find(' ')].lower() for i in files.file_name]
    files['l_name'] = [i[i.find(' '):i.find('_')].lower() for i in files.file_name]
    files['t_file'] = [i[i.find('.')+1:].lower() for i in files.file_name]
    
    links = []
    for i in files.t_file:
        if 'jpg' not in i:
            links.append(client.share('/'+ i, short_url = False)['url'][:-1] + '1')
        else:
            links.append(np.nan)
    
    files['link'] = links
    
    
    return files   

listpic()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: DeprecationWarning: You are using a deprecated client. Please use the new v2 client located at dropbox.Dropbox.
  from ipykernel import kernelapp as app

,file_name,date_mod_d,date_mod,hour_modutc,f_name,l_name,t_file,link
99,KRISTINA PEREZ4_0020.JPG,"(2017, 5, 7, 14, 28, 15, 6, 127, -1)",2017-05-07,14:28:15,kristina,perez4,jpg,NaN
100,KRISTINA PEREZ4_0021.JPG,"(2017, 5, 7, 14, 28, 22, 6, 127, -1)",2017-05-07,14:28:22,kristina,perez4,jpg,NaN
101,KRISTINA PEREZ4_0022.JPG,"(2017, 5, 7, 14, 28, 27, 6, 127, -1)",2017-05-07,14:28:27,kristina,perez4,jpg,NaN
102,KRISTINA PEREZ4_0023.JPG,"(2017, 5, 7, 14, 27, 44, 6, 127, -1)",2017-05-07,14:27:44,kristina,perez4,jpg,NaN
103,KRISTINA PEREZ4_0024.JPG,"(2017, 5, 7, 14, 27, 47, 6, 127, -1)",2017-05-07,14:27:47,kristina,perez4,jpg,NaN
104,KRISTINA PEREZ4_0034.JPG,"(2017, 5, 7, 14, 27, 52, 6, 127, -1)",2017-05-07,14:27:52,kristina,perez4,jpg,NaN
105,KRISTINA PEREZ4_0035.JPG,"(2017, 5, 7, 14, 27, 57, 6, 127, -1)",2017-05-07,14:27:57,kristina,perez4,jpg,NaN
106,KRISTINA PEREZ_0001.JPG,"(2017, 5, 7, 14, 28, 0, 6, 127, -1)",2017-05-07,14:28:00,kristina,perez,jpg,NaN
107,KRISTINA PEREZ_0005.JPG,"(2017, 5, 7, 14, 28, 5, 6, 127, -1)",2017-05-07,14:28:05,kristina,perez,jpg,NaN
108,KRISTINA PEREZ_0006.JPG,"(2017, 5, 7, 14, 28, 11, 6, 127, -1)",2017-05-07,14:28:11,kristina,perez,jpg,NaN

In [7]:
datetime.datetime(tzinfo = pytz.UTC)

TypeError: Required argument 'year' (pos 1) not found

In [22]:
datetime.datetime(*time.localtime()[:6])

datetime.datetime(2017, 5, 7, 10, 37, 55)