In [7]:
import pandas as pd
import os
import datetime
import numpy as np
import time
import smtplib
from email.mime.application import MIMEApplication
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
from email.utils import COMMASPACE, formatdate
import dropbox
from PIL import Image 
import imageio
imageio.plugins.ffmpeg.download()
from moviepy.editor import *

## Get List of Files

In [4]:
def listpic():
    client = dropbox.client.DropboxClient('IS-424yqxy8AAAAAAAAVLOUS9urGIH4kCxP_5Q6hxdz-WrhGMYKa-9MjMZrpwMYZ')
    metadata = client.metadata('/')
    files = [content['path'].split('/')[-1] for content in metadata['contents'] if content['is_dir'] == False ]
    
            
    dates = [content['modified'] for content in metadata['contents'] if content['is_dir'] == False]
    files = pd.DataFrame({'file_name' : files})
    #TIME IS ON UTC TIMEZONE
    files['date_mod_d'] = [time.strptime(i, "%a, %d %b %Y %H:%M:%S %z") for i in dates]
    files['date_mod'] = [datetime.datetime(*files.date_mod_d.loc[i][:6]).date() for i in files.index]
    files['hour_mod'] = [datetime.datetime(*files.date_mod_d.loc[i][:6]).time() for i in files.index]
    
    
    tday = datetime.datetime.today().date()
    files = files[files.date_mod == tday]
    files['f_name'] = [i[0:i.find(' ')].lower() for i in files.file_name]
    files['l_name'] = [i[i.find(' '):i.find('_')].lower() for i in files.file_name]
    files['t_file'] = [i[i.find('.')+1:].lower() for i in files.file_name]

    return files   

listpic()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: DeprecationWarning: You are using a deprecated client. Please use the new v2 client located at dropbox.Dropbox.
  from ipykernel import kernelapp as app

,file_name,date_mod_d,date_mod,hour_mod,f_name,l_name,t_file
0,ABA DUENAS_0001.JPG,"(2017, 5, 12, 20, 2, 58, 4, 132, -1)",2017-05-12,20:02:58,aba,duenas,jpg
1,ABA DUENAS_0005.JPG,"(2017, 5, 12, 20, 3, 3, 4, 132, -1)",2017-05-12,20:03:03,aba,duenas,jpg
2,ABA DUENAS_0009.JPG,"(2017, 5, 12, 20, 3, 7, 4, 132, -1)",2017-05-12,20:03:07,aba,duenas,jpg
3,ADRIANA GRAELL WK27_0001.JPG,"(2017, 5, 12, 20, 3, 13, 4, 132, -1)",2017-05-12,20:03:13,adriana,graell wk27,jpg
4,ADRIANA GRAELL WK27_0013.JPG,"(2017, 5, 12, 20, 3, 15, 4, 132, -1)",2017-05-12,20:03:15,adriana,graell wk27,jpg
5,ADRIANA GRAELL WK27_0013.MPG,"(2017, 5, 12, 20, 3, 21, 4, 132, -1)",2017-05-12,20:03:21,adriana,graell wk27,mpg
6,ADRIANA GRAELL WK27_0023.JPG,"(2017, 5, 12, 20, 3, 23, 4, 132, -1)",2017-05-12,20:03:23,adriana,graell wk27,jpg
7,ADRIANA GRAELL WK27_0024.JPG,"(2017, 5, 12, 20, 3, 26, 4, 132, -1)",2017-05-12,20:03:26,adriana,graell wk27,jpg
8,ADRIANA GRAELL WK27_0028.JPG,"(2017, 5, 12, 20, 3, 32, 4, 132, -1)",2017-05-12,20:03:32,adriana,graell wk27,jpg
9,ADRIANA GRAELL WK27_0033.JPG,"(2017, 5, 12, 20, 3, 37, 4, 132, -1)",2017-05-12,20:03:37,adriana,graell wk27,jpg
10,ADRIANA GRAELL WK27_0034.JPG,"(2017, 5, 12, 20, 3, 42, 4, 132, -1)",2017-05-12,20:03:42,adriana,graell wk27,jpg
11,ADRIANA GRAELL WK27_0035.JPG,"(2017, 5, 12, 20, 3, 46, 4, 132, -1)",2017-05-12,20:03:46,adriana,graell wk27,jpg
12,ADRIANA GRAELL WK27_0036.JPG,"(2017, 5, 12, 20, 3, 51, 4, 132, -1)",2017-05-12,20:03:51,adriana,graell wk27,jpg
13,ADRIANA GRAELL WK27_0037.JPG,"(2017, 5, 12, 20, 3, 57, 4, 132, -1)",2017-05-12,20:03:57,adriana,graell wk27,jpg
14,ADRIANA GRAELL WK27_0038.JPG,"(2017, 5, 12, 20, 4, 1, 4, 132, -1)",2017-05-12,20:04:01,adriana,graell wk27,jpg
15,ADRIANA GRAELL WK27_0044.JPG,"(2017, 5, 12, 20, 4, 11, 4, 132, -1)",2017-05-12,20:04:11,adriana,graell wk27,jpg
16,ADRIANA GRAELL WK27_0045.JPG,"(2017, 5, 12, 20, 4, 17, 4, 132, -1)",2017-05-12,20:04:17,adriana,graell wk27,jpg
17,ADRIANA GRAELL WK27_0054.JPG,"(2017, 5, 12, 20, 4, 23, 4, 132, -1)",2017-05-12,20:04:23,adriana,graell wk27,jpg
18,ADRIANA GRAELL WK27_0055.JPG,"(2017, 5, 12, 20, 4, 28, 4, 132, -1)",2017-05-12,20:04:28,adriana,graell wk27,jpg
19,ADRIANA GRAELL WK27_0056.JPG,"(2017, 5, 12, 20, 4, 33, 4, 132, -1)",2017-05-12,20:04:33,adriana,graell wk27,jpg
20,ADRIANA GRAELL WK27_0057.JPG,"(2017, 5, 12, 20, 4, 39, 4, 132, -1)",2017-05-12,20:04:39,adriana,graell wk27,jpg
21,ADRIANA GRAELL WK27_0058.JPG,"(2017, 5, 12, 20, 4, 42, 4, 132, -1)",2017-05-12,20:04:42,adriana,graell wk27,jpg
22,ADRIANA GRAELL WK27_0060.JPG,"(2017, 5, 12, 20, 4, 46, 4, 132, -1)",2017-05-12,20:04:46,adriana,graell wk27,jpg
23,ADRIANA GRAELL WK27_0064.JPG,"(2017, 5, 12, 20, 4, 51, 4, 132, -1)",2017-05-12,20:04:51,adriana,graell wk27,jpg
24,ADRIANA GRAELL WK27_0065.JPG,"(2017, 5, 12, 20, 4, 58, 4, 132, -1)",2017-05-12,20:04:58,adriana,graell wk27,jpg
25,ADRIANA GRAELL WK27_0070.JPG,"(2017, 5, 12, 20, 5, 3, 4, 132, -1)",2017-05-12,20:05:03,adriana,graell wk27,jpg
26,ADRIANA GRAELL WK27_0075.JPG,"(2017, 5, 12, 20, 5, 7, 4, 132, -1)",2017-05-12,20:05:07,adriana,graell wk27,jpg
27,ADRIANA GRAELL WK27_0079.JPG,"(2017, 5, 12, 20, 5, 11, 4, 132, -1)",2017-05-12,20:05:11,adriana,graell wk27,jpg
28,ADRIANA GRAELL WK27_0084.JPG,"(2017, 5, 12, 20, 5, 15, 4, 132, -1)",2017-05-12,20:05:15,adriana,graell wk27,jpg
29,ADRIANA GRAELL WK27_0086.JPG,"(2017, 5, 12, 20, 5, 19, 4, 132, -1)",2017-05-12,20:05:19,adriana,graell wk27,jpg
...,...,...,...,...,...,...,...
50,GIANNA CARRANZA_0007.JPG,"(2017, 5, 12, 20, 14, 3, 4, 132, -1)",2017-05-12,20:14:03,gianna,carranza,jpg
51,GIANNA CARRANZA_0008.JPG,"(2017, 5, 12, 20, 14, 8, 4, 132, -1)",2017-05-12,20:14:08,gianna,carranza,jpg
52,GIANNA CARRANZA_0009.JPG,"(2017, 5, 12, 20, 14, 14, 4, 132, -1)",2017-05-12,20:14:14,gianna,carranza,jpg
53,GIANNA CARRANZA_0010.JPG,"(2017, 5, 12, 20, 14, 18, 4, 132, -1)",2017-05-12,20:14:18,gianna,carranza,jpg
54,GIANNA CARRANZA_0012.JPG,"(2017, 5, 12, 20, 14, 24, 4, 132, -1)",2017-05-12,20:14:24,gianna,carranza,jpg
55,GIANNA CARRANZA_0015.JPG,"(2017, 5, 12, 20, 14, 28, 4, 132, -1)",2017-05-12,20:14:28,gianna,carranza,jpg
56,GIANNA CARRANZA_0019.JPG,"(2017, 5, 12, 20, 14, 31, 4, 132, -1)",2017-05-12,20:14:31,gianna,carranza,jpg
57,KEYLA OSORIO BBY3_0000.JPG,"(2017, 5, 12, 20, 14, 36, 4, 132, -1)",2017-05-12,20:14:36,keyla,osorio bby3,jpg
58,KEYLA OSORIO BBY3_0001.JPG,"(2017, 5, 12, 20, 14, 39, 4, 132, -1)",2017-05-12,20:14:39,keyla,osorio bby3,jpg
59,KEYLA OSORIO BBY3_0002.JPG,"(2017, 5, 12, 20, 14, 45, 4, 132, -1)",2017-05-12,20:14:45,keyla,osorio bby3,jpg
60,KEYLA OSORIO BBY3_0003.JPG,"(2017, 5, 12, 20, 14, 50, 4, 132, -1)",2017-05-12,20:14:50,keyla,osorio bby3,jpg
61,KEYLA OSORIO BBY3_0004.JPG,"(2017, 5, 12, 20, 14, 55, 4, 132, -1)",2017-05-12,20:14:55,keyla,osorio bby3,jpg
62,KEYLA OSORIO BBY3_0005.JPG,"(2017, 5, 12, 20, 14, 59, 4, 132, -1)",2017-05-12,20:14:59,keyla,osorio bby3,jpg
63,PRISCILLA TABOADA_0008.JPG,"(2017, 5, 12, 20, 6, 31, 4, 132, -1)",2017-05-12,20:06:31,priscilla,taboada,jpg
64,PRISCILLA TABOADA_0009.JPG,"(2017, 5, 12, 20, 6, 37, 4, 132, -1)",2017-05-12,20:06:37,priscilla,taboada,jpg
65,RACHEL DENIS_0003.JPG,"(2017, 5, 12, 20, 6, 43, 4, 132, -1)",2017-05-12,20:06:43,rachel,denis,jpg
66,RACHEL DENIS_0004.JPG,"(2017, 5, 12, 20, 6, 46, 4, 132, -1)",2017-05-12,20:06:46,rachel,denis,jpg
67,RACHEL DENIS_0008.JPG,"(2017, 5, 12, 20, 5, 57, 4, 132, -1)",2017-05-12,20:05:57,rachel,denis,jpg
68,RACHEL DENIS_0027.JPG,"(2017, 5, 12, 20, 6, 3, 4, 132, -1)",2017-05-12,20:06:03,rachel,denis,jpg
69,RACHEL DENIS_0030.JPG,"(2017, 5, 12, 20, 6, 5, 4, 132, -1)",2017-05-12,20:06:05,rachel,denis,jpg
70,RAMONA RAMDIN_0002.JPG,"(2017, 5, 12, 20, 6, 11, 4, 132, -1)",2017-05-12,20:06:11,ramona,ramdin,jpg
71,RAMONA RAMDIN_0004.JPG,"(2017, 5, 12, 20, 6, 14, 4, 132, -1)",2017-05-12,20:06:14,ramona,ramdin,jpg
72,RAMONA RAMDIN_0005.JPG,"(2017, 5, 12, 20, 6, 19, 4, 132, -1)",2017-05-12,20:06:19,ramona,ramdin,jpg
73,RAMONA RAMDIN_0006.JPG,"(2017, 5, 12, 20, 6, 25, 4, 132, -1)",2017-05-12,20:06:25,ramona,ramdin,jpg
74,RAMONA RAMDIN_0011.JPG,"(2017, 5, 12, 20, 15, 24, 4, 132, -1)",2017-05-12,20:15:24,ramona,ramdin,jpg
75,RAMONA RAMDIN_0012.JPG,"(2017, 5, 12, 20, 15, 30, 4, 132, -1)",2017-05-12,20:15:30,ramona,ramdin,jpg
76,RAMONA RAMDIN_0013.JPG,"(2017, 5, 12, 20, 15, 35, 4, 132, -1)",2017-05-12,20:15:35,ramona,ramdin,jpg
77,RAMONA RAMDIN_0014.JPG,"(2017, 5, 12, 20, 15, 40, 4, 132, -1)",2017-05-12,20:15:40,ramona,ramdin,jpg
78,RAMONA RAMDIN_0020.JPG,"(2017, 5, 12, 20, 15, 45, 4, 132, -1)",2017-05-12,20:15:45,ramona,ramdin,jpg
79,RAMONA RAMDIN_0024.JPG,"(2017, 5, 12, 20, 15, 51, 4, 132, -1)",2017-05-12,20:15:51,ramona,ramdin,jpg

In [7]:
listpic().tail()

,file_name,f_name,l_name,t_file,date,hour,size,email
1082,MARIA SANTOS WK18CBFF_0011.JPG,maria,santos wk18cbff,jpg,2017-04-25,11:48:04,0.24,NaN
1083,MARIA SANTOS WK18CBFF_0012.JPG,maria,santos wk18cbff,jpg,2017-04-25,11:48:04,0.25,NaN
1084,MARIA SANTOS WK18CBFF_0013.JPG,maria,santos wk18cbff,jpg,2017-04-25,11:48:06,0.41,NaN
1085,MARIA SANTOS WK18CBFF_0014.JPG,maria,santos wk18cbff,jpg,2017-04-25,11:48:06,0.29,NaN
1086,MARIA SANTOS WK18_0000.JPG,maria,santos wk18,jpg,2017-04-25,11:34:10,0.32,NaN

## Get List of Today's Clients (User Input).

In [5]:
def clients():
    clients = pd.read_excel('registro.xlsx')
    clients['f_name'] = [i[0:i.find(" ")].lower() for i in clients.Name]
    clients['l_name'] = [i[i.find(" "):].lower() for i in clients.Name]
    return clients

## Final List With Emails.

In [6]:
def sendPic():
    sendPic = pd.merge(listpic(), clients(), on = ['f_name', 'l_name'], how = 'outer')
    return sendPic
                
sendPic().head()

,file_name,f_name,l_name,t_file,date,hour,size,email,Name,Email
0,ABA DUENAS_0000.JPG,aba,duenas,jpg,2017-04-21,09:53:48,0.12,NaN,Aba Duenas,fapb88ve@gmail.com
1,ABA DUENAS_0001.AVI,aba,duenas,avi,2017-04-21,09:54:36,10.82,NaN,Aba Duenas,fapb88ve@gmail.com
2,ABA DUENAS_0001.JPG,aba,duenas,jpg,2017-04-21,09:54:30,0.12,NaN,Aba Duenas,fapb88ve@gmail.com
3,ABA DUENAS_0002.JPG,aba,duenas,jpg,2017-04-21,09:54:40,0.36,NaN,Aba Duenas,fapb88ve@gmail.com
4,ABA DUENAS_0003.JPG,aba,duenas,jpg,2017-04-21,09:54:40,0.33,NaN,Aba Duenas,fapb88ve@gmail.com

## Time related Functionalities.

In [ ]:
#def time():
#    exit = datetime.datetime.now()
#    td = datetime.timedelta(minutes = 30)
#    while datetime.datetime.now() < 
#        print('early')
        
#    return datetime.datetime.now().hour
#time()

## Email Sending Functionalities

In [ ]:
def SendMail():
    s = smtplib.SMTP('smtp.gmail.com', 587)
    s.ehlo()
    s.starttls()
    s.ehlo()
    s.login(fr, 'rabbitrun88ve')
    
    lp = os.listdir(os.getcwd())[1:9]
    
    emails = ['fapb88ve@gmail.com', 'vcalzadillag@gmail.com', 'balestrinisamuel@gmail.com']
    for i in emails:
        msg = MIMEMultipart()
        msg['Subject'] = 'prueba'
        msg['From'] = fr
        msg['To'] = i
        text = MIMEText("test")
        msg.attach(text)
        for k in lp:
            if '.JPG' in k:
                img_data = open(k, 'rb').read()
                image = MIMEImage(img_data, name=os.path.basename(k))
                msg.attach(image)
            else:
                pass
        s.sendmail(fr, i, msg.as_string())

    
    
    s.quit()

## Watermarking

In [6]:
def watermark(x):
    for i in x:
        if 'AVI' in i:
            clip = VideoFileClip(i)
            logo = (ImageClip("pancita4.png")
              .set_duration(clip.duration)
              .resize(height=80) # if you need to resize...
              .margin(right=8, top=8, opacity=0) # (optional) logo-border padding
              .set_pos(("right","bottom")))
            final = CompositeVideoClip([clip, logo])
            final.write_videofile("Pancitas " + i +".mp4")
        if 'JPG' in i:
            plogo = Image.open('pancita4.png')
            plogow, plogoh = plogo.size
            plogo = plogo.resize((int(plogow*.1), int(plogoh*.1)))
            plogow, plogoh = plogo.size
            pic = Image.open(i)
            picw, pich = pic.size
            pic.paste(plogo, (picw - plogow, pich - plogoh), plogo)
            pic.save('Pancita '+ i)
            
        else:
            pass